<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <div id="app">
      <h1>Smiling Friends Characters</h1>
      <p v-if="!characters.length">No Characters Exist 😔</p>
      <ul v-else>
        <li v-for="char in characters">
          <button @click="addFav(char)">⭐️ Favorite</button>
          Name: {{char.name}}, Age: {{char.age}}
        </li>
      </ul>
      <h2>Favorite Characters</h2>
      <p v-if="!favCharacters.length">No favorite characters 😔</p>
      <ul v-else>
        <li v-for="fav in favCharacters">{{fav.name}}</li>
      </ul>
      <form @submit.prevent>
        <h2>Enter a Character</h2>
        <div>
          <p>Name</p>
          <label for="character"></label>
          <input type="text" id="character" v-model="newChar" />
        </div>
        <div>
          <p>Age</p>
          <label for="age"></label>
          <input type="number" id="age" v-model="newAge" />
        </div>
        <br />
        <button @click="addChar">Add Character</button>
      </form>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const app = createApp({
        data() {
          return {
            msg: "Howdy!",
            favCharacters: [],
            characters: [
              { name: "Geralt", age: 23 },
              { name: "Sam", age: 43 },
              { name: "Derk", age: 87 },
              { name: "Werl", age: 28 },
            ],
            newChar: "",
            newAge: 0,
          };
        },
        methods: {
          addFav(fav) {
            this.favCharacters.push(fav);
          },
          addChar() {
            this.characters.push({ name: this.newChar, age: this.newAge });
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
