<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <div id="app">
      <h2>Counter</h2>
      <button @click="increment">Click Me!</button> <br />
      <span>
        <label for="countAmount">Increment By: </label>
        <input type="number" id="countAmount" v-model="countAmount" />
      </span>
      <p>{{count}}</p>
      <hr />
      <h1>Howdy World!</h1>
      <ul v-if="characters.length">
        <li v-for="char in characters">{{char}}</li>
      </ul>
      <p v-else>No Characters 😔</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const app = createApp({
        data() {
          return {
            msg: "Howdy!",
            characters: ["Sam", "Andy", "Tim"],
            count: 0,
            countAmount: 0,
          };
        },
        methods: {
          increment() {
            this.count += this.countAmount;
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
